<footer>
    <section class="pie-de-pagina">
        <article class="maps">
            <h3><i class="far fa-map" id="dondeEstamos"></i>Dónde estamos</h3>
            <img src="/imagenes/ubicacion.jpg" alt="map-searching">
        </article>
        <section class="section-footer">
            <nav class="producFooter">
                <ul class="footer-ul">
                    <p class="tituloFooter"><i class="far fa-list-alt"></i>Productos</p>
                    <li><a href="#">Sábanas</a></li>
                    <li><a href="#">Colchones</a></li>
                    <li><a href="#">Toallas</a></li>
                    <li><a href="#">Sommiers</a></li>
                    <li><a href="#">Almohadas</a></li>
                    <li><a href="#">Batas</a></li>
                </ul>
            </nav>
            <nav class="condiciones">
                <ul class="footer-ul">
                    <p class="tituloFooter"><i class="fas fa-info-circle"></i>Ayuda</p>
                    <li><a href="/cambiosDevoluciones">Cambios y devoluciones</a></li>
                    <li><a href="/terminosCondiciones">Términos y condiciones</a></li>
                    <li><a href="/politica">Política de privacidad</a></li>
                    <li><a href="/informacion">Información sobre envíos</a></li>
                </ul>
            </nav>
            <nav class="contacto">
                <ul class="footer-ul">
                    <p id="contacto" class="tituloFooter"><i class="fas fa-address-card"></i>Contactos</h3>
                    </p>
                    <li>Número de teléfono: 4462-7514</li>
                    <li>Dirección: Tuyuti 234</li>
                    <li>WhatsApp: +54 11-3451-2475</li>
                    <li>Email: lasabana@lasabana.com.ar</li>
                </ul>
            </nav>
            <article class="chateaConNosotros">
                <h3 class="chatea">Chateá con nosotros
                    <a href="https://api.whatsapp.com/send?phone=+34662681XXX" class="logoEnlace">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6b/WhatsApp.svg/240px-WhatsApp.svg.png">
                    </a>
                </h3>
            </article>
        </section>
    </section>
</footer>