<header>
    
<nav class="main-nav"></nav>
<div class="menuiconos">

<div class="iconos-navbar">

    <ul class="menu" id="menu">      
        <li class="menu__item"><a href="/" class="menu__link">Inicio</a></li>
        <li class="menu__item"><a href="/#¿QuienesSomos?" class="menu__link">Nosotros</a></li>
        <li class="menu__item container-submenu">
            <a href="#" class="menu__link submenu-btn">Productos <i class="fas fa-chevron-down"></i></a>
            <ul class="submenu">
                <li class="menu__item"><a href="" class="menu__link">Sabanas</a></li>
                <li class="menu__item"><a href="" class="menu__link">Colchones</a></li>
                <li class="menu__item"><a href="" class="menu__link">Toallas</a></li>
                <li class="menu__item"><a href="" class="menu__link">Almohadas</a></li>
                <li class="menu__item"><a href="" class="menu__link">Batas</a></li>
            </ul>
         
        </li>
        <li class="menu__item"><a href="/#contacto" class="menu__link">Contacto</a></li>    
    </ul>
    <span class="nav-bar" id="btnMenu"><i class="fas fa-bars"> Menú</i></span>
<!--
        logos
      -->
      
     <div class="btn-buscar-user-carrito">
        <nav class="nav-alt">
          <div class="buscar"> 
          <input type="text" placeholder="¿Que estás buscando?" required>         
          <div class="btn">
            <i class="fas fa-search"></i>
          </div>
        </div>
        <div class="usuario">
          <a id="btn-abrir-popup"><i class="fas fa-user"></i></a>
        </div>
        <div class="carrito">
          <a href="/productCart"><i class="fas fa-cart-plus"></i></a>
        </div>
      </nav>
      </div>
    </div>
  </div>
         <!--
          logos
        -->
   





    <!--inicio de banner animado --------------------->
    <div class="banner">   
      <div class="capa"></div>

     <!-- <ul>
        <li><img src="imagenes/images-banner/banner1.jpg" alt=""></li>    
        <li> <img src="imagenes/images-banner/banner2.jpg" alt=""></li> 
        <li> <img src="imagenes/images-banner/banner3.jpg" alt=""></li> 
        <li> <img src="imagenes/images-banner/banner4.png" alt=""></li> 
      </ul>
      -->
  <div class="info">
  
  <h1> aqui el banner animado</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi eaque deleniti explicabo atque doloremque quod, et odit! Quo quam sequi maiores magni, repellendus molestias ipsum sint eligendi pariatur mollitia deserunt?</p>
      <a href="#¿QuienesSomos?">Leer mas</a>
</div>
</div>
    <div class="div-banner">
      <p class="box-banner">3 Cuotas sin interés 12 cuotas<br> en compras superiores a $7990</p>
      <hr>
      <p class="box-banner" id="p-hidden">Envío gratis a partir de $9800</p>
      <hr>
      <p class="box-banner" id="p-boxC">Retiro gratis en sucursales seleccionadas</p>
    </div>
    <script src="/js/menu.js"></script>
            <!--   popup  -->
           <!-- inicio popup-->
    

    <div class="contenedor">		
          <div class="overlay" id="overlay">
              <div class="popup" id="popup">
                  <a href="#" id="btn-cerrar-popup" class="btn-cerrar-popup"><i class="fas fa-times"></i></a>
                  
                  <form class="form-regis-log" action="/users" method="post">
                      <div class="contenedor-inputs-regis" id="cont-regis">
                        <div class="register">
                          <h3 >SUSCRIBETE</h3>
                  <h4 >y recibe un cupon de descuento.</h4>
                  <p  id="most-login" onclick="closeRegister()">¿Ya tenes cuenta?<a href="#"> Inicia sesión</a></p>
                  <div class="btn-rsociales">                            
            
                    <div class="fbgoogle">
                        <a class="button" href="https://www.facebook.com/
                        " target="_blank">
                            <i class="fab fa-facebook"> </i> Facebook
                        </a>
                    </div>
    
                    <div class="fbgoogle">
                        <a class="button" href="https://mail.google.com/mail/u/0/#inbox
                        " target="_blank">
                            <i class="fab fa-google"></i> Google
                            </i>
                        </a>
                    </div>
                </div>
                          <input type="text" name="usuario" placeholder="Nombre" required id="Nombre">
                          <input type="text" name="Apellido" placeholder="Apellido" id="Apellido" required>
                          <input type="password" name="clave" placeholder="Contraseña" required>
                          <input type="password" name="clave" placeholder="Repetir contraseña" required>
                          <input class="controlsr" type="date" name="fechaNacimiento" required>  
                          <input type="email" placeholder="Correo">
                          <br>
                          <button class="btn-submit-register" type="submit">Registrarse</button>
                      </div>
                    </div>
                  
                      <div class="contenedor-inputs" id="contenedor-inputs">
                          <h4>Iniciar sesión</h4>
                          <div class="btn-rsociales-login">                            
            
                            <div class="fbgoogle">
                                <a class="button" href="https://www.facebook.com/
                                " target="_blank">
                                    <i class="fab fa-facebook"> </i> Facebook
                                </a>
                            </div>
            
                            <div class="fbgoogle">
                                <a class="button" href="https://mail.google.com/mail/u/0/#inbox
                                " target="_blank">
                                    <i class="fab fa-google"></i> Google
                                    </i>
                                </a>
                            </div>
                        </div>
                          <input type="text" name="usuario" placeholder="Usuario o Email" required id="Nombre">
                          <input type="password" name="clave" placeholder="Contraseña" required>
                          <p class="olvidaste-contra" onclick="openRegister()" id="mostrar-regis">¿No tenes cuenta?<a href="#">Registrate</a></p>
                          <a class="olvidaste-contra" href="#">¿Olvidaste tu contraseña?</a>
                          <input type="submit" class="btn-submit" value="Ingresar">                                           
                            
                        
                      </div>
               </form>
            <script src="/js/popup.js"></script>
      <!-- fin popup-->
 
          </header> 