<header>

    <nav class="main-nav"></nav>
    <div class="menuiconos">

        <div class="iconos-navbar">

            <ul class="menu" id="menu">
                <li class="menu__item"><a href="/" class="menu__link">Inicio</a></li>
                <li class="menu__item"><a href="/#¿QuienesSomos?" class="menu__link">Nosotros</a></li>
                <li class="menu__item container-submenu">
                    <a href="#" class="menu__link submenu-btn">Productos <i class="fas fa-chevron-down"></i></a>
                    <ul class="submenu">
                        <li class="menu__item"><a href="" class="menu__link">Sabanas</a></li>
                        <li class="menu__item"><a href="" class="menu__link">Colchones</a></li>
                        <li class="menu__item"><a href="" class="menu__link">Toallas</a></li>
                        <li class="menu__item"><a href="" class="menu__link">Almohadas</a></li>
                        <li class="menu__item"><a href="" class="menu__link">Batas</a></li>
                    </ul>

                </li>
                <li class="menu__item"><a href="/#contacto" class="menu__link">Contacto</a></li>
            </ul>
            <span class="nav-bar" id="btnMenu"><i class="fas fa-bars"> Menú</i></span>
            <!--
             logos
               -->
            <div class="btn-buscar-user-carrito">
                <nav class="nav-alt">
                    <div class="buscar">
                        <form action="/products/search/" method="GET">
                            <input type="text" placeholder="¿Que estás buscando?" name="word" required>
                            <button type="submit">
                                <div class="btn">
                                    <i class="fas fa-search"></i>
                                </div>
                            </button>
                        </form>
                    </div>
                    <% if (locals.isAnUserLogged == true){%>
                        <ul class="menuP" id="menu">
                            <li class="menu__item container-submenu">
                                <a href="#" class="menu__link submenu-btn"><b><%= userData.name %> </b>  <i class="fas fa-chevron-down"></i></a>
                                <ul class="submenu">
                                    <li class="menu__item"><a href="/users/profile" class="menu__link">perfil</a></li>
                                    <li class="menu__item"><a href="/users/logout" class="menu__link">Cerrar sesión</a></li>
                                </ul>
                            </li>
                        </ul>
                        <%} else { %>
                            <div class="usuario">
                                <a id="btn-abrir-popup"><i class="fas fa-user"></i></a>
                            </div>
                            <%}%>

                                <div class="carrito">
                                    <a href="/products/cart"><i class="fas fa-cart-plus"></i></a>
                                </div>
                </nav>
            </div>
        </div>
    </div>
    <!--
        logos
      -->
    <!--inicio de banner animado --------------------->
    <div class="animacion">



        <section class="slider-container">
            <ul>
                <li>
                    <img src="../imagenes/toallas.png" alt="">
                </li>
                <li>
                    <img src="../imagenes/cubrecama.png" alt="">
                </li>
                <li>
                    <img src="../imagenes/almohadones.png" alt="">
                </li>
                <li>
                    <img src="../imagenes/sabanas.png" alt="">
                </li>
            </ul>

            <div class="infoBanner">
                <h1>BIENVENIDOS A LA SABANA</h1>
                <p>Tu casa también puede ser de revista. Decorá tus espacios con hermosos productos de blanquería que no cuestan una fortuna...
                </p>
                <br>
                <a href="#¿QuienesSomos?">Leer mas</a>
            </div>
        </section>
    </div>

    <!--  ---- texto caminante------  -->

    <div class="carrusel">

        <ul class="carrusel-items">
            <li class="carrusel-item">ESCRIBINOS POR WHATSAPP 31313131313</li>
            <li class="carrusel-item">ENTREGA INMEDIATA</li>
            <li class="carrusel-item">PREMIUM SALE: 40% DE DESCUENTOS</li>
            <li class="carrusel-item">TODAS LAS TARJETAS: VISA, MASTER & AMERICAN EXPRESS</li>
            <li class="carrusel-item">ENVIOS GRATIS </li>
            <li class="carrusel-item">NUEVO HORARIO: LUN A SAB DE 10 A 20HS</li>
            <li class="carrusel-item">ESCRIBINOS POR WHATSAPP 31313131313</li>
            <li class="carrusel-item">ENTREGA INMEDIATA</li>
            <li class="carrusel-item">PREMIUM SALE: 40% DE DESCUENTOS</li>
            <li class="carrusel-item">TODAS LAS TARJETAS: VISA, MASTER & AMERICAN EXPRESS</li>
            <li class="carrusel-item">ENVIOS GRATIS </li>
            <li class="carrusel-item">NUEVO HORARIO: LUN A SAB DE 10 A 20HS</li>
            <li class="carrusel-item">ESCRIBINOS POR WHATSAPP 31313131313</li>
            <li class="carrusel-item">ENTREGA INMEDIATA</li>
            <li class="carrusel-item">PREMIUM SALE: 40% DE DESCUENTOS</li>
            <li class="carrusel-item">TODAS LAS TARJETAS: VISA, MASTER & AMERICAN EXPRESS</li>
            <li class="carrusel-item">ENVIOS GRATIS </li>
            <li class="carrusel-item">NUEVO HORARIO: LUN A SAB DE 10 A 20HS</li>
            <li class="carrusel-item">ESCRIBINOS POR WHATSAPP 31313131313</li>
            <li class="carrusel-item">ENTREGA INMEDIATA</li>
            <li class="carrusel-item">PREMIUM SALE: 40% DE DESCUENTOS</li>
            <li class="carrusel-item">TODAS LAS TARJETAS: VISA, MASTER & AMERICAN EXPRESS</li>
            <li class="carrusel-item">ENVIOS GRATIS </li>
            <li class="carrusel-item">NUEVO HORARIO: LUN A SAB DE 10 A 20HS</li>
            <li class="carrusel-item">ESCRIBINOS POR WHATSAPP 31313131313</li>
            <li class="carrusel-item">ENTREGA INMEDIATA</li>
            <li class="carrusel-item">PREMIUM SALE: 40% DE DESCUENTOS</li>
            <li class="carrusel-item">TODAS LAS TARJETAS: VISA, MASTER & AMERICAN EXPRESS</li>
            <li class="carrusel-item">ENVIOS GRATIS </li>
            <li class="carrusel-item">NUEVO HORARIO: LUN A SAB DE 10 A 20HS</li>
            <li class="carrusel-item">ESCRIBINOS POR WHATSAPP 31313131313</li>
            <li class="carrusel-item">ENTREGA INMEDIATA</li>
            <li class="carrusel-item">PREMIUM SALE: 40% DE DESCUENTOS</li>
            <li class="carrusel-item">TODAS LAS TARJETAS: VISA, MASTER & AMERICAN EXPRESS</li>
            <li class="carrusel-item">ENVIOS GRATIS </li>
            <li class="carrusel-item">NUEVO HORARIO: LUN A SAB DE 10 A 20HS</li>
            <li class="carrusel-item">ESCRIBINOS POR WHATSAPP 31313131313</li>
            <li class="carrusel-item">ENTREGA INMEDIATA</li>
            <li class="carrusel-item">PREMIUM SALE: 40% DE DESCUENTOS</li>
            <li class="carrusel-item">TODAS LAS TARJETAS: VISA, MASTER & AMERICAN EXPRESS</li>
            <li class="carrusel-item">ENVIOS GRATIS </li>
            <li class="carrusel-item">NUEVO HORARIO: LUN A SAB DE 10 A 20HS</li>
            <li class="carrusel-item">ESCRIBINOS POR WHATSAPP 31313131313</li>
            <li class="carrusel-item">ENTREGA INMEDIATA</li>
            <li class="carrusel-item">PREMIUM SALE: 40% DE DESCUENTOS</li>
            <li class="carrusel-item">TODAS LAS TARJETAS: VISA, MASTER & AMERICAN EXPRESS</li>
            <li class="carrusel-item">ENVIOS GRATIS </li>
            <li class="carrusel-item">NUEVO HORARIO: LUN A SAB DE 10 A 20HS</li>
            <li class="carrusel-item">ESCRIBINOS POR WHATSAPP 31313131313</li>
            <li class="carrusel-item">ENTREGA INMEDIATA</li>
            <li class="carrusel-item">PREMIUM SALE: 40% DE DESCUENTOS</li>
            <li class="carrusel-item">TODAS LAS TARJETAS: VISA, MASTER & AMERICAN EXPRESS</li>
            <li class="carrusel-item">ENVIOS GRATIS </li>
            <li class="carrusel-item">NUEVO HORARIO: LUN A SAB DE 10 A 20HS</li>
            <li class="carrusel-item">ESCRIBINOS POR WHATSAPP 31313131313</li>
            <li class="carrusel-item">ENTREGA INMEDIATA</li>
            <li class="carrusel-item">PREMIUM SALE: 40% DE DESCUENTOS</li>
            <li class="carrusel-item">TODAS LAS TARJETAS: VISA, MASTER & AMERICAN EXPRESS</li>
            <li class="carrusel-item">ENVIOS GRATIS </li>
            <li class="carrusel-item">NUEVO HORARIO: LUN A SAB DE 10 A 20HS</li>

        </ul>

    </div>
    <script src="/js/textoCaminante.js"></script>



    <!--  ---- fin texto caminante------  -->


    <div class="div-banner">
        <p class="box-banner">3 , 6 y 12 cuotas sin interés<br> en compras superiores a $7990</p>
        <hr>
        <p class="box-banner" id="p-hidden">Envío gratis a partir de $9800</p>
        <hr>
        <p class="box-banner" id="p-boxC">30% off en sucursales seleccionadas</p>
    </div>
    <script src="/js/menu.js"></script>

    <!---------------------------- inicio popup--------------------->


    <div class="contenedor">
        <div class="overlay" id="overlay">
            <div class="popup" id="popup">
                <a href="#" id="btn-cerrar-popup" class="btn-cerrar-popup"><i class="fas fa-times"></i></a>

                <form class="form-regis-log" action="/users" method="post">

                    <div class="contenedor-inputs-regis" id="cont-regis">
                        <div class="register">
                            <h3>SUSCRIBETE</h3>
                            <h4>y recibe un cupon de descuento.</h4>
                            <p class="regis-log-popup" id="most-login" onclick="closeRegister()">¿Ya tenes cuenta?<a href="#"> Inicia
                sesión</a></p>

                            <!--redes sociales-->
                            <nav class="social-network-PD">
                                <a href="https://twitter.com/?lang=es" target="_blank"><i class="fab fa-twitter"></i></a>
                                <a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook"></i></a>
                                <a href="https://www.instagram.com/?hl=es-la" target="_blank"><i class="fab fa-instagram"></i></a>
                            </nav>

                            <input type="text" name="user" placeholder="Nombre completo" required id="Nombre">
                            <input type="password" name="password" placeholder="Contraseña" required>
                            <input type="password" name="reclave" placeholder="Repetir contraseña" required>
                            <div class="campo-pais">
                                <select name="country" id="country" class="elegir-pais" placeholder="Pais">
              <option value="-">Pais</option>
              <option value="Argentina">Argentina</option>
              <option value="Bolivia">Bolivia</option>
              <option value="Brasil">Brasil</option>
              <option value="Colombia">Colombia</option>
              <option value="Chile">Chile</option>
              <option value="Ecuador">Ecuador</option>
              <option value="Paraguay">Paraguay</option>
              <option value="Perú">Peru</option>
              <option value="Uruguay">Uruguay</option>
              <option value="Venezuela">Venezuela</option>
          </select>
                            </div>
                            <input class="controlsr" type="date" name="fechaNacimiento" min="1930-01-01" max="2010-01-01" required>
                            <input type="email" name="email" placeholder="Correo">
                            <br>
                            <button class="btn-submit-register" type="submit">Registrarse</button>
                        </div>
                    </div>

                    <div class="contenedor-inputs" id="contenedor-inputs">
                </form>

                <form class="login-width" action="/users/login" method="post">
                    <h4>Iniciar sesión</h4>

                    <nav class="social-network-PD">
                        <a href="https://twitter.com/?lang=es" target="_blank"><i class="fab fa-twitter"></i></a>
                        <a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook"></i></a>
                        <a href="https://www.instagram.com/?hl=es-la" target="_blank"><i class="fab fa-instagram"></i></a>
                    </nav>

                    <input type="text" name="userlog" placeholder="Email" id="Nombre">
                    <input type="password" name="userpass" placeholder="Contraseña">

                    <p class="regis-log-popup" onclick="openRegister()" id="mostrar-regis">¿No tenes cuenta?<a href="#">Registrate</a></p>
                    <a class="olvidaste-contra" href="#">¿Olvidaste tu contraseña?</a>
                    <input type="submit" class="btn-submit" value="Ingresar">

                    </div>
                    <div class="cookiebutton">
                        <input type="radio" name="remember_user"> Recordar mi usuario

                    </div>
                </form>
                <script src="/js/popup.js"></script>
                <!-- fin popup-->

</header>