<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingresá a tu cuenta</title>
    <link rel="stylesheet" href="/css/login.css">
   
</head>
<body>
    
    <header class="header-counteiner">
        <img src= "/imagenes/La-Sabana.png" class="logo">   
       
        <div class= "nav-bar">                  
            <nav class="enlaces" > 
                <ul>
                    <li><a href="">¿Quienes somos? </a></li>
                    <li><a href="">Nuestros productos</a></li>
                    <form>
                      <i class="fa fa-search"></i>
                      <input type="text">
                      <input type="submit" value="Buscar" />
                  </form>
                  <li><i class="fas fa-user"></i> <a href="">Mi cuenta</a><i class="fas fa-angle-down"></i></li>
                  <li><i class="fas fa-cart-plus"></i><a href="">Mi Carrito</a></li>
              </ul>
            </nav>
        </div>   
</header>
<main class="main">
    
   <form action="/login" method="post">       
    <div>
       <label for="Nombre">Nombre:</label>
       <input type="text" name="usuario" placeholder="Ej: pepito lopez" required>
    </div>
    <BR>
    <div>
       <label for="Contraseña">Contraseña:</label>
       <input type="password" name="clave" placeholder="********" required>       
     </div>
     <BR>
       <div>
       <label for="Email">Email:</label>
       <input type="email" name="email" placeholder="Ej: usuario@nuevo.com" required>
    </div>
    <BR>
       <div>
       <label for="tel">Tel:</label>
       <input type="tel" name="telefono" placeholder="Ej: 115154255" required>
    </div>
    <BR>
       <div>
       <label for="edad">Edad:</label>
       <input type="number" name="edad" placeholder="Ej: 25" required>       
    </div>
    <button type="submit"> Registrarme </button>
   </form>

  
    


</main>
<footer>    


</footer>
</body>
</html>