<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("./partials/head")%>
  <link rel="stylesheet" href="/css/user-profile.css">
</head>
<body>   
    
  <%- include("./partials/header")%>
    <main>
        
       <h3>Cambios y devoluciones: </h3> <br>
         Se podrá revocar la transacción durante el plazo de 10 (diez) días corridos contados a partir de la fecha en que se entregue el producto o se finaliza la compra, lo último que ocurra, sin responsabilidad alguna para la Empresa. <br>
        <br>
        <h4> Cambios:</h4>
        
        <ul> 
          <li> 
            <p> 1. Los cambios deberán realizarse dentro de los 10 (diez) días de recibido el producto. No se aceptaran cambios fuera de dicho plazo. </p>
            <p> 2. Los cambios serán gestionados por la Empresa previa solicitud por parte del Usuario indicando que desea cambiarlo. En este caso, el producto deberá ser entregado en las oficinas de la Empresa, para proceder al cambio corriendo los costos a cargo del cliente.</p>
            <p> 3. Producido esto, la Empresa se pondrá en contacto para notificar que el cambio fue aceptado, y se pactara una nueva operación comercial.</p>
           <p> 4. La empresa se reserva el derecho de realizar el cambio o desestimar la operación en este caso el dinero que surja de este será devuelto al mismo método de pago con el cual se realizó la compra.</p>
            
          </li>
        </ul>
        
        <br>
        <h4>Devoluciones:</h4>
        <p> Dentro del plazo estipulado de 72hs de recibido el producto (manteniendo el mismo el embalaje original, así como manuales de uso e instrucciones de cuidado y armado), todos los productos vendidos podrán ser devueltos con excepción a los productos fabricados específicamente para el Usuario, ante cualquier duda el usuario podrá venir a ver o evacuar sus dudas en nuestro showroom. <br>
        
          El usuario deberá indicar su intención por correo electrónico a <b>lasabana@lasabana.com.ar</b> y la Empresa contestará por medio de otro correo electrónico especificando las instrucciones precisas para la devolución del producto. Los gastos de devolución correrán a cargo del cliente.<br>
          
          El reembolso en la cuenta del cliente como consecuencia de esta devolución, se efectuará en el plazo de 10 días a partir de la recepción de los productos por la Empresa.<br>
         </p>
        <ul> 
          <li> 
            <p>1. La devolución no podrá tener lugar en ningún caso si los productos suministrados fueron manifiestamente objeto de uso.</p>
            <p> 2. Los productos imperativamente deben devolverse correctamente protegidos, en su embalaje de origen, en un perfecto estado (no dañados o ensuciados por el Usuario) con todos los accesorios, instrucciones.</p>
            <p>3. En el caso de que la devolución no fuera aceptada por el proveedor por entender que el producto cuya devolución se pretende hubiera sido utilizado, estos productos permanecerán en el depósito de <b> La Sabana</b> para ser recogidos por el cliente, por un período no superior a treinta días desde su devolución.</p>
            <p> 4. Los gastos y riesgos vinculados a la devolución del producto serán a cargo del Usuario remitente, quien deberá enviarlos de forma segura y con las garantías necesarias para que la mercancía devuelta llegue en perfecto estado de conservación.</p>
            <p> 5. La devolución de los productos dará lugar a un reembolso igual al precio de compra del producto/s devuelto/s. El reembolso no incluye los posibles gastos de entrega y costos administrativos y financieros.</p>
            <p>6. Toda persona que devuelva su producto recibirá un correo electrónico informándole del importe de su reembolso.</p>
          </li>
        </ul>
        
        
    </main>

      <!-- footer -->
  <%- include("./partials/footer")%>

</body>
</html>
