<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/user-profile.css">
    <title>Document</title>
</head>
<body>
    <div class="email">
        <h1>Lo sentimos, el email ya está en uso</h1>
    <h2> <a href="/"> Volver a inicio</a></h2>
    <img  src="/imagenes/spiderman.jpg">
    </div>
</body>
</html>