<!DOCTYPE html>
<html lang="es">

<%- include("./partials/head")%>
    <link rel="stylesheet" href="/css/allProducts.css">

    <body>

        <%- include("./partials/header")%>

            <script src="/js/darkmode.js"></script>
            <main>

                <h3 class="title-cards">Encontrá lo que hace especial a tu casa!</h3>
                <div class="cuatroImg">
                    <section class="sec-container">
                        <article class="produc-conteiner">
                            <div class="contenedor-img">
                                <a href="/products">
                                    <figure>
                                        <img src="/imagenes/productos/Almohada-Inspira-1000-main-product.jpg" alt="">
                                        <div class="capa">
                                            <h3><strong>ALMOHADAS</strong>
                                                <p>¡El mejor descanso te espera! | Envío Gratis | 3, 6 y 12 cuotas sin interés | 30 noches de prueba</p>
                                            </h3>
                                        </div>
                                    </figure>
                                </a>
                            </div>
                        </article>
                        <article class="produc-conteiner">
                            <div class="contenedor-img">
                                <a href="/products">
                                    <figure>
                                        <img src="/imagenes/productos/bata-clasica-dos-costuras-800x800-800x800.jpg" alt="">
                                        <div class="capa">
                                            <h3> <strong> Batas y toallones</strong>
                                                <p> La mejor calidad y variedad en batas de baño y toallones las encontrás en LA SABANA, al mejor precio y con envíos a todos el país. ¡Te esperamos!</p>
                                            </h3>
                                        </div>
                                    </figure>
                                </a>
                            </div>
                        </article>
                    </section>
                    <section class="sec-container">
                        <article class="produc-conteiner">
                            <div class="contenedor-img">
                                <a href="/products">
                                    <figure>
                                        <img src="/imagenes/productos/juego-de-sabanas-Pierre-Balmain-180-hilos.jpg" alt="">
                                        <div class="capa">
                                            <h3> <strong>  Sabanas</strong>
                                                <p>Línea de alta costura pensada para disfrutar el descanso y placer de un buen sueño, disfrute de la única marca de sabanas cinco estrellas</p>
                                            </h3>
                                        </div>
                                    </figure>
                                </a>
                            </div>
                        </article>
                        <article class="produc-conteiner">
                            <div class="contenedor-img">
                                <a href="/products">
                                    <figure>
                                        <img src="/imagenes/productos/cortinas.jpg" alt="">
                                        <div class="capa">
                                            <h3><strong>CORTINAS</strong>
                                                <p> La posibilidad de cubrir grandes dimensiones vidriadas, junto a una variada gama de telas de diferentes texturas y colores, hacen de "LA SABANA" el mejor aliado de los profesionales dedicados a la decoración</p>
                                            </h3>
                                        </div>
                                    </figure>
                                </a>
                            </div>
                        </article>
                    </section>
                </div>
                <section class="nosotros">
                    <b><h3  class="title-cards" id="¿QuienesSomos?">  ¿Quiénes Somos?</h3></b>
                    <br>
                    <p class="text-quienessomos , text-quienessomos2">En un mundo en el que todo avanza y cambia constantemente, La Sabana® se ha convertido en un referente indiscutido a la hora de buscar diseño, calidad y confort. Hoy apostamos a adaptarnos a esta era cambiante y conquistar nuevas generaciones
                        logrando conservar la calidad de nuestros productos año tras año, con el mismo cuidado y atención en detalles que nos caracteriza.
                    </p>
                    <p class="text-quienessomos"> Nuestra misión es permitir que las personas descubran la elegancia y la excelencia en el estilo al vestir sus casas, diseñando colecciones llenas de encanto a través de líneas refinadas y únicas. Siempre respetando la identidad de
                        cada hogar. En ese sentido, nuestros valores éticos son la honestidad, la confianza, el cariño y la familia, en que el significado de tales pilares se puede resumir en: <i><b>Simplicidad en los detalles y el valor de las palabras por sobre todas las cosas.</b></i>                        Así pues, ofrecemos todo tipo de productos de blanquería tanto para habitaciones, baño, accesorios, de linea infantil y decoración del hogar en general. Además de un servicio de compra y entrega online.</p>
                </section>
                <div class="title-cards">
                    <h2>Lo más vendido</h2>
                </div>
                <div class="container-card">

                    <div class="card">
                        <figure>
                            <img src="/imagenes/productos/bata-clasica-dos-costuras-800x800-800x800.jpg">
                        </figure>
                        <div class="contenido-card">
                            <h3>Bata de baño adulto</h3>
                            <p> Posee bolsillos delanteros y cinta de ajuste. la tela de algodon 100% aporta mayor confort y suavidad </p>
                            <p class="precioproducts">$10.000</p>
                            <a href="/products/detail">Comprar ahora</a>
                        </div>
                    </div>

                    <div class="card">
                        <figure>
                            <img src="/imagenes/productos/almohadas-grandes-1.jpg">
                        </figure>
                        <div class="contenido-card">
                            <h3>Almohada sublime</h3>
                            <p>El relleno está formado por un núcleo central de espuma de poliuretano Hipersoft Premium de Alta Densidad que brinda resistencia y confort, y una abundante manta de fibra de poliéster hueca, siliconada, cardada y peinada que
                                le otorga suavidad.</p>
                            <p class="precioproducts">$10.000</p>
                            <a href="/products/detail">Comprar ahora</a>
                        </div>
                    </div>
                    <div class="card">
                        <figure>
                            <img src="/imagenes/productos/Sabanas-img1.jpg">
                        </figure>
                        <div class="contenido-card">
                            <h3>Sabanas 2 Plazas Algodón 400 hilos</h3>
                            <p>Juego completo de sábanas, fabricadas en genero de 240 hilos. 100% algodon Excelente calidad. No se destiñe, no se motosea, totalmente garantizado. Tela importada, confección nacional.</p>
                            <p class="precioproducts">$10.000</p>
                            <a href="/products/detail">Comprar ahora</a>
                        </div>
                    </div>
                </div>
            </main>
            <!-- footer -->
            <%- include("./partials/footer")%>

    </body>

</html>