<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>La sabana</title>
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="/css/normalize.css">
  <a href="/product-cart"><i class="fas fa-cart-plus"></i></a>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
  <meta name="viewport" content="width= device-width, initial-scale =1.0">
</head>

<body>
  <header>
    <nav class="header-nav">
      <section class="header-container-left">
        <div>
          <a href="/"><img class="logo" src="/imagenes/logo.png" alt="logo"></a>
        </div>
        <nav class="nav-hidden">
          <div class="quienesSomos">
            <a href="#¿QuienesSomos?">¿Quiénes somos?</a>
          </div>
          <form action="" method="get">
            <select class="lista-produc">

              <option selected>Nuestros productos</option>
              <option>Sábanas</option>
              <option>Colchones</option>
              <option>Toallas</option>
              <option>Almohadas</option>
              <option>Batas</option>
            </select>
          </form>
        </nav>
      </section>
      <section class="header-container-right">
        <div class="burguer-menu">
          <i class="fas fa-bars"></i>
        </div>
        <nav class="nav-alt">
          <div class="buscar">
            <input type="text" placeholder="¿Que estas buscando?" required>
            <div class="btn">
              <i class="fas fa-search"></i>
            </div>
          </div>
          <div class="usuario">
            <a href="login"><i class="fas fa-user"></i></a>
          </div>
          <div class="carrito">
            <a href="/login"><i class="fas fa-cart-plus"></i></a>
          </div>
        </nav>
    </nav>
    <div class="div-banner">
      <p class="box-banner">3 Cuotas sin interés 12 cuotas<br> en compras superiores a $7990</p>
      <hr>
      <p class="box-banner" id="p-hidden">Envío gratis a partir de $9800</p>
      <hr>
      <p class="box-banner" id="p-boxC">Retiro gratis en sucursales seleccionadas</p>
    </div>
  </header>
  <main class="main">
    <img class="banner" src="/imagenes/productos/banner.jpg" alt="" width="100%">
    <h3 class="titulares">Producto</h3>
    <section class="sec-container">
      <article class="produc-conteiner">
        <img src="/imagenes/productos/Almohada-Inspira-1000-main-product.jpg" alt="">
      </article>
      <article class="produc-conteiner">
        <img src="/imagenes/productos/bata-clasica-dos-costuras-800x800-800x800.jpg" alt="">
      </article>
    </section>
    <section class="sec-container1">
      <article class="produc-conteiner">
        <img src="/imagenes/productos/juego-de-sabanas-Pierre-Balmain-180-hilos.jpg" alt="">
      </article>
      <article class="produc-conteiner">
        <img src="/imagenes/productos/cortinas.jpg" alt="">
      </article>
    </section>
    <section class="nosotros">
      <b>
        <h3 id="¿QuienesSomos?"> ¿Quienes Somos?</h3>
      </b>
      <p align=justify>En un mundo en el que todo avanza y cambia constantemente, logramos conservar la calidad de
        nuestros productos año tras año.
        Hoy apostamos a adaptarnos a esta era cambiante y conquistar nuevas generaciones con el mismo cuidado y atención
        en detalles que nos caracteriza.
        Nuestra misión es permitir que las personas descubran la elegancia y la excelencia en el estilo al vestir sus
        casas, diseñando colecciones llenas de encanto a través de líneas refinadas y únicas. Siempre respetando la
        identidad de cada hogar.
        En ese sentido, nuestros valores éticos son la honestidad, la confianza, el cariño y la familia, en que el
        significado de tales pilares se puede resumir en: <i><b>Simplicidad en los detalles y el valor de las palabras
            por sobre todas las cosas.</b></i>

        Así pues, ofrecemos todo tipo de productos de blanquería tanto para habitaciones, baño, accesorios, de linea
        infantil y decoración del hogar en general. Además de un servicio de compra y entrega online.</p>
    </section>
  </main>
  <footer>
    <section class="pie-de-pagina">
      <article class="maps">
        <h3><i class="far fa-map"></i>Dónde estamos</h3>
        <img src="/imagenes/ubicacion.jpg" alt="map-searching">
      </article>
      <section class="section-footer">
        <nav class="producFooter">
          <ul class="footer-ul">
            <p class="tituloFooter"><i class="far fa-list-alt"></i>Productos</p>
            <li><a href="#">Sábanas</a></li>
            <li><a href="#">Colchones</a></li>
            <li><a href="#">Toallas</a></li>
            <li><a href="#">Sommiers</a></li>
            <li><a href="#">Almohadas</a></li>
            <li><a href="#">Batas</a></li>
          </ul>
        </nav>
        <nav class="condiciones">
          <ul class="footer-ul">
            <p class="tituloFooter"><i class="fas fa-info-circle"></i>Ayuda</p>
            <li><a href="#">Cambios y devoluciones</a></li>
            <li><a href="#">Términos y condiciones</a></li>
            <li><a href="#">Política de privacidad</a></li>
            <li><a href="#">Información sobre envíos</a></li>
          </ul>
        </nav>
        <nav class="contacto">
          <ul class="footer-ul">
            <p class="tituloFooter"><i class="fas fa-address-card"></i>Contactos</h3>
            </p>
            <li>Número de teléfono: 4462-7514</li>
            <li>Dirección: Tuyuti 234</li>
            <li>WhatsApp: +54 11-3451-2475</li>
            <li>Email: lasabana@lasabana.com.ar</li>
          </ul>
        </nav>
        <article class="chateaConNosotros">
          <h3 class="chatea">Chateá con nosotros
            <a href="https://api.whatsapp.com/send?phone=+34662681XXX" class="logoEnlace">
              <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6b/WhatsApp.svg/240px-WhatsApp.svg.png">
            </a>
          </h3>
        </article>
      </section>
    </section>
  </footer>
</body>

</html>