<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("./partials/head")%>
  <link rel="stylesheet" href="/css/user-profile.css">
</head>
<body>   
    
    <%- include("./partials/header")%>
        

    <main>
        
      <h2>Información de Envíos</h2><br>
      <h4>Retiro en Showrrom:</h4><br>
      <p> Ud. Podrá retirar su producto de lunes a viernes de 10 a 17 hs y sábados de 10 a 13 hs. Previa coordinación con el sector de entregas de <b> La Sabana</b> de acuerdo a los tiempos de entrega estipulados para este producto.</p>
      <br>
      <h4>Envío gratuito en Capital Federal y hasta 20km</h4>      
     <p> Si Usted esta en esta área de cobertura el servicio de entrega es sin cargo (no incluye subida por escaleras y exteriores). Las entregas se realizan de miércoles a sábados de 10 a 17 hs previa coordinación con el sector de entregas de <b>La Sabana</b>. El envío a domicilio se realiza dentro de los 10 días hábiles con nuestra propia logística para mayor cuidado. </p>
     <br>
      <h4>Abona flete en domicilio</h4>
      <p>Las entregas se realizan de miércoles a sábados de 10 a 17 hs previa coordinación con el sector de entregas de <b> La Sabana</b>. El envío a domicilio se realizara de 3 a 10 días hábiles con nuestra propia logística para mayor cuidado. El costo del mismo se abona en domicilio en efectivo, previa coordinación con el sector de entregas de <b> La Sabana</b>. </p>
      <br>
     <h4> Envío gratuito hasta Expreso en CABA</h4>
      <p>Las entregas se realizan de miércoles a sábados de 10 a 17 hs previa coordinación con el sector de entregas de <b> La Sabana</b>. Embalaje de cartón corrugado doble es sin cargo. Usted puede recibir nuestros productos en cualquier destino dentro de la República Argentina. El costo de este envío se calculará como un servicio puerta a puerta dependiendo de la localidad, el costo del mismo y la elección de la empresa de transporte es a cargo del cliente. Para más información o ayuda escribirnos a lasabana@lasabana.com.ar o por Whatsapp 11-3451-2475.
      
      <b> La Sabana </b> no se responsabiliza por los daños que pudieran ocasionarse en el envío al interior de este producto. </p>
    </main>

      <!-- footer -->
  <%- include("./partials/footer")%>

</body>
</html>
