<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>La sabana</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/login.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
    <meta name="viewport" content="width= device-width, initial-scale =1.0">   
</head>
<body>
  <header>
    <nav class="header-nav"> 
            <section class="header-container-left">
                <div>
                  <a href="/"><img class="logo" src="/imagenes/logo.png" alt="logo"></a>
                </div>
              <nav class="nav-hidden">
                <div class="quienesSomos">
                  <a href="#¿QuienesSomos?">¿Quiénes somos?</a>
                </div>
                <form action="" method="get"> 
                  <select class="lista-produc"> 
                    <option selected>Nuestros productos</option>
                    <option >Sábanas</option>
                    <option>Colchones</option>
                    <option>Toallas</option>
                    <option>Almohadas</option>
                    <option>Batas</option>
                  </select>
                </form>
              </nav> 
              </section>
              <section class="header-container-right">
                <div class="burguer-menu">
                  <i class="fas fa-bars"></i>
                </div>
                <nav class="nav-alt">
                  <div class="buscar"> 
                  <input type="text" placeholder="¿Que estas buscando?" required>         
                  <div class="btn">
                    <i class="fas fa-search"></i>
                  </div>
                </div>
                <div class="usuario">
                  <a href="login"><i class="fas fa-user"></i></a>
                </div>
                <div class="carrito">
                  <a href="/product-cart"><i class="fas fa-cart-plus"></i></a>
                </div>
              </nav>
            </nav>
            <div class="div-banner">
              <p class="box-banner">3 Cuotas sin interés 12 cuotas<br> en compras superiores a $7990</p>
              <hr>
              <p class="box-banner" id="p-hidden">Envío gratis a partir de $9800</p>
              <hr>
              <p class="box-banner" id="p-boxC">Retiro gratis en sucursales seleccionadas</p>
            </div>
 </header> 

<main class="mainl">   
  
<form action="/login" method="post" class="registro">  
 
<ul class="list-logl">
 <h5 class="iniciar">Iniciar sesión</h5>
 <div class="regis-logfbgoogle">    
  <div class="logo-redes">
   
  <div class="box-bot">
    <h4 class="buttons-fb-g">Ingresá con</h4>
    <nav class="buttons-fb-g">
          <a href="https://www.facebook.com/">
              <i class="fab fa-facebook"> </i> Facebook
          </a>
        </nav>          
      <nav class="buttons-fb-g">
          <a href="https://www.google.com/">
              <i class="fab fa-google"></i> Google
              
          </a>
        </nav>
      
  </div>
 <li>
   <div>
     <label class="nombre-log" for="Email">Email:</label>
    </div>
     <input class="controlsl" type="email" name="email" placeholder="usuario@ingreso.com" required="">
 </li>
 <li>
  <div>
     <label class="nombre-log" for="Contraseña">Contraseña:</label>
     </div>
     <input class="controlsl" type="password" name="clave" placeholder="Contraseña" required="">       
  </li>  
      
  <button class="buttonsl" type="submit">Ingresar</button>
  <nav class="opt">  
  <p><a href="/register">¿No tenes cuenta?    </a></p>
  <p><a href="#">¿Olvidaste tu contraseña?</a></p>

 
</nav></div></div></ul>

</form>


 


</main>
<footer >
  <section class="pie-de-pagina">
      <article class="maps">
          <h3><i class="far fa-map"></i>Dónde estamos</h3>
          <img src= "/imagenes/ubicacion.jpg" alt="map-searching"> 
      </article>
      <section class="section-footer">
          <nav class="producFooter">
            <ul class="footer-ul">
                <p class="tituloFooter"><i class="far fa-list-alt"></i>Productos</p>
                <li><a href="#">Sábanas</a></li>
                <li><a href="#">Colchones</a></li>
                <li><a href="#">Toallas</a></li>
                <li><a href="#">Sommiers</a></li>
                <li><a href="#">Almohadas</a></li>
                <li><a href="#">Batas</a></li>
            </ul>
          </nav>
          <nav class="condiciones">
            <ul class="footer-ul">
                <p class="tituloFooter"><i class="fas fa-info-circle"></i>Ayuda</p>
                <li><a href="#">Cambios y devoluciones</a></li>
                <li><a href="#">Términos y condiciones</a></li>
                <li><a href="#">Política de privacidad</a></li>
                <li><a href="#">Información sobre envíos</a></li>
            </ul>
          </nav>
          <nav class="contacto">
              <ul class="footer-ul">
                  <p class="tituloFooter"><i class="fas fa-address-card"></i>Contactos</h3></p> 
                  <li>Número de teléfono: 4462-7514</li>
                  <li>Dirección: Tuyuti 234</li>
                  <li>WhatsApp: +54 11-3451-2475</li>
                  <li>Email: lasabana@lasabana.com.ar</li>
              </ul>
            </nav>
          <article class="chateaConNosotros">
              <h3 class="chatea">Chateá con nosotros
                  <a href="https://api.whatsapp.com/send?phone=+34662681XXX" class="logoEnlace">
                      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6b/WhatsApp.svg/240px-WhatsApp.svg.png">
                  </a>
              </h3>    
          </article>
      </section>
  </section>
</footer>
</body>
</html>
