<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingresá a tu cuenta</title>
    <link rel="stylesheet" href="/css/login.css">
    <script src="https://kit.fontawesome.com/36b9ea7acc.js" crossorigin="anonymous"></script>
   
</head>
<body>
    
    <header class="header-counteiner">
        <img src= "/imagenes/La-Sabana.png" class="logo">   
       
        <div class= "nav-bar">                  
            <nav class="enlaces" > 
                <ul>
                    <li><a href="">¿Quienes somos? </a></li>
                    <li><a href="">Nuestros productos</a></li>
                    <form>
                      <i class="fa fa-search"></i>
                      <input type="text">
                      <input type="submit" value="Buscar" />
                  </form>
                  <li><i class="fas fa-user"></i> <a href="">Mi cuenta</a><i class="fas fa-angle-down"></i></li>
                  <li><i class="fas fa-cart-plus"></i><a href="">Mi Carrito</a></li>
              </ul>
            </nav>
        </div>   
</header>
<main class="main">   
    
   <form action="/login" method="post" class="registro">    

    <ul class="list-regis">   
        <h2>Crear cuenta</h2>
    <li>
       <label for="Nombre">Nombre:</label>
       <input type="text" name="usuario" placeholder="pepito" required>
       <span class="feedback"><span>
    </li>
    <BR>
        <li>
            <label for="apellido">Apellido</label>
            <input type="text" name="usuario" placeholder="Lopez" required>
            <span class="feedback"><span>
         </li>
   <br>
    <li>
       <label for="Contraseña">Contraseña:</label>
       <input type="password" name="clave" placeholder="********" required>
       <span class="feedback"><span>       
    </li>
     <BR>
       <li>
       <label for="Email">Email:</label>
       <input type="email" name="email" placeholder="usuario@nuevo.com" required>
       </li>
    <BR>
       <li>
       <label for="tel">Tel:</label>
       <input type="tel" name="telefono" placeholder="115154255" required>
       </li>
    <BR>
       <li>
        <label for="edad">Edad:</label>
       <input type="date" name="fechaNacimiento">  
       </li>
    <label for="terminos"> Acepto los terminos y condiciones </label>
    <input type="checkbox" name="terminos">
  
     <button type="submit">Registrarse</button>
    
</ul>   
<ul class="list-log">
    <h2>Iniciar sesión</h2>
    <li>
        <label for="Email">Email:</label>
        <input type="email" name="email" placeholder="usuario@ingreso.com" required>
    </li>
    <li>
        <label for="Contraseña">Contraseña:</label>
        <input type="password" name="clave" placeholder="********" required>       
     </li>
     
     <button type="submit">Ingresar</button>
     </input>
    
</ul>

   </form>

  
    


</main>
<footer>    


</footer>
</body>
</html>