<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>La sabana</title>
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
    <meta name="viewport" content="width = device-wid th, initial-scale =1.0">   
</head>
<body class="loginl">
    
  <header class="home"> 
    <div class= "nav-bar"> 
    <img class="logo" src= "/imagenes/La-Sabana.png" alt=""width="100px">
    <nav> 
          <ul class="enlaces">
            <div class="quienesSomos">
            <a href="#¿QuienesSomos?" style="text-decoration: none;"> <font color=black> ¿Quienes <br> somos?</font> </a>
          </div>
            <form> 
              <select class="lista-produc" > 
              <option>  Nuestros productos </option>
              <option> Producto1 </option>
              <option>  Producto2</option>
              <option> Producto3 </option>
              <option> Producto4</option>
              </select>
            </form>
            <div class="buscar"> 
              <input type="text" placeholder="¿Qué estas buscando?" required>         
              <div class="btn">
              <i class="fas fa-search"></i>
            </div>
            </div>
            <div class=" usuario">

            <a href="login"><i class="fas fa-user"></i></a>
            </div>
         
            <div class="carrito">
              </i><a href="login"><i class="fas fa-cart-plus"></i></a>
            </div>
          </ul>
    </nav>
    </div>
</header> 
<main class="mainl">   
    
  <form action="/login" method="post" class="registro">  
   
<ul class="list-logl">
   <h5>Iniciar sesión</h5>
   <li>
       <label for="Email">Email:</label>
       <input  class="controlsl"type="email" name="email" placeholder="usuario@ingreso.com" required>
   </li>
   <li>
       <label for="Contraseña">Contraseña:</label>
       <input class="controlsl" type="password" name="clave" placeholder="Contraseña" required>       
    </li>         
    <button class="buttonsl" type="submit">Ingresar</button>
    <p><a href="#">¿Olvidaste tu contraseña?</a></p>
    </input>
   
</ul>

  </form>

 
   


</main>
<footer >
  <section class="pie-de-pagina">
      <article class="maps">
          <h3><i class="far fa-map"></i>Dónde estamos</h3>
          <img src= "/imagenes/ubicacion.jpg" alt="map-searching"> 
      </article>
      <section class="section-footer">
          <article>
              <h3 class="tituloFooter"><i class="far fa-list-alt"></i>Productos</h3>
          <ul class="producFooter">
              <li><a id="rebelLi" href="#">Sábanas</a></li>
              <li><a href="#">Colchones</a></li>
              <li><a href="#">Toallas</a></li>
              <li><a href="#">Sommiers</a></li>
              <li><a href="#">Almohadas</a></li>
              <li><a href="#">Batas</a></li>
          </ul>
          </article>
          <article class="ubicacionhelp">
              <h3 class="tituloFooter"><i class="fas fa-info-circle"></i>Ayuda</h3>
              <ul class="condiciones">
                  <li><a href="#">Cambios y devoluciones</a></li>
                  <li><a href="#">Términos y condiciones</a></li>
                  <li><a href="#">Politica de privacidad</a></li>
                  <li><a href="#">Información sobre envíos</a></li>
              </ul>
          </article>
          <article class="contacto">
                  <h3 class="tituloFooter"><i class="fas fa-address-card"></i>Contactos</h3></div> 
              <ul class="contacto1">
                  <li>Número de teléfono: 4462-7514</li>
                  <li>Dirección: Tuyuti 234</li>
                  <li>WhatsApp: +54 11-3451-2475</li>
                  <li>Email: lasabana@lasabana.com.ar</li>
              </ul>
          </article>
          <article class="chateaConNosotros">
              <h3 class="chatea">Chateá con nosotros
                  <a href="https://api.whatsapp.com/send?phone=+34662681XXX" class="logoEnlace">
                      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6b/WhatsApp.svg/240px-WhatsApp.svg.png">
                  </a>
              </h3>    
          </article>
      </section>
  </section>
</footer>
      </body>
      </html>