<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("./partials/head")%>
  <link rel="stylesheet" href="/css/user-profile.css">
</head>
<body>   
 

    <main>
     
        <a href="/"><img src="/imagenes/productos/error.jpg" alt="" width="100%" height="800px"> </a>

</body>
</html>
