<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("./partials/head")%>
  <link rel="stylesheet" href="/css/user-profile.css">
</head>
<body>   
 

    <main>
        <p> Algo salio mal</p>
        <img src="/imagenes/productos/error.jpg" alt="">


</body>
</html>
