<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("./partials/head")%>
  <link rel="stylesheet" href="/css/user-profile.css">
</head>
<body>   
    
    <%- include("./partials/header")%>
        

    <main>
      <h3>Políticas de Privacidad</h3> <br>
      <ul> 
        <li>
          <p> El mantener segura la información y datos personales ingresados por los usuarios a este sitio web, y utilizarlos exclusivamente de la manera que los mismos desearían que lo hiciéramos, es prioridad para tienda. Nuestro compromiso, entonces, es el siguiente:</p> <br>
      
      
      
          <p> 1. Salvaguardar toda información que cada usuario comparta con nosotros, bajo los más estrictos estándares de seguridad y confidencialidad. Limitar la obtención, utilización y revelación de la información de los usuarios a lo requerido para la prestación de los servicios respectivos. Permitir que sólo aquellos empleados autorizados de tienda debidamente entrenados en el manejo adecuado de la información de los usuarios puedan tener acceso a la misma. No revelar información respecto de los usuarios a entes públicos o privados salvo para el desarrollo de la actividad propia de tienda, a menos que el usuario hubiera sido informado previamente de tal circunstancia y que éste lo autorice, o que así nos fuera requerido por la legislación aplicable. Procurar mantener los archivos de los usuarios completos, actualizados y libres de errores.</p>
      
      <br>
      
            <p> 2. Salvo en los campos en que se indique lo contrario, las respuestas a las preguntas sobre datos personales e información son voluntarias, sin que la falta de contestación implique una merma en la calidad o cantidad de los servicios correspondientes, a menos que se indique otra cosa. Reconocer a los usuarios los derechos de acceso, cancelación, rectificación y oposición, así como tienen reconocido el derecho a ser informado de las cesiones realizadas contactándose con tienda a través del formulario de contacto.</p>
      
            <br>

      
              <p> 3.  Adoptar los niveles de seguridad de protección de los datos personales e información legalmente requeridos, e instalar todos los medios y medidas técnicas a nuestro alcance para evitar la pérdida, mal uso, alteración, acceso no autorizado y robo de los datos y la información facilitados a tienda. No obstante, los usuarios deben ser conscientes de que las medidas de seguridad en Internet no son inexpugnables. </p>
      
              <br>

      
                <p>4.  Garantizar el tratamiento de los datos personales facilitados por los usuarios en un todo de conformidad con los preceptos de la Ley N° 25.326 de Protección de Datos Personales. Otorgar a los usuarios la posibilidad de -una vez registrados en tienda - revisar y cambiar la información que nos han enviado durante el proceso de registro.</p>
                <br>

      
      
                  <p>  5. Nuestra tienda podrá modificar en cualquier momento los términos y condiciones de estas Políticas de Privacidad y confidencialidad y notificará los cambios a los usuarios publicando una versión actualizada de dichas Políticas en esta sección. Esta Política de Privacidad se aplica a todos los productos y servicios operados por tienda. No se aplica, en cambio, a sitios a los que el usuario pudiera acceder por medio de links o cualquier otro tipo de vínculo.</p>
        </li>
      </ul>
      
    </main>

      <!-- footer -->
  <%- include("./partials/footer")%>

</body>
</html>
