<!DOCTYPE html>
<html lang="es">

  <%- include("./partials/head")%>

<body>   

          <%- include("./partials/header")%>
<main>

    <h1>Listado de productos</h1>
 

</main>
        
   <!-- footer -->
   <%- include("./partials/footer")%>

</body>
</html>