<!DOCTYPE html>
<html lang="en">

  <%- include("./partials/head")%>
  <link rel="stylesheet" href="/css/productEdit.css">
  <link rel="stylesheet" href="/css/productDetail.css">

<body>   

          <%- include("./partials/header")%>
        

<main>
  <div class="form-edit" >
    <form action="" method="get"> 
      <label for="">Nombre del producto</label>
      <input type="text" name="name-product-edit">
      <label for="">Descripción</label>
      <input type="text" name="description-edit">
      <label for="">Imagen</label>
      <input type="file" name="image-edit" accept="image/png, .jpeg, .jpg, image/gif">
      <label for="">Categoría</label>
      <select class="product-list-edit">     
        <option>Sábanas</option>
        <option>Colchones</option>
        <option>Toalleria</option>
        <option>Almohadas</option>
        <option>Acolchados</option>
      </select>
       <!--selector de color- radio-script-->
      <div class="color-selection-PD">
        <p class="color-title-PD">Color</p>
        <form action="" method="post">
          <ul class="color-list-PD">    
              <li>
                  <label for="blue-color"></label>
                  <p><input type="radio" name="color" class="radio-color-PD" id="radio-colorA-PD"></p>
              </li>
              <li>
                  <label for="blue-color"></label>
                  <p><input type="radio" name="color" class="radio-color-PD" id="radio-colorB-PD"></p>
              </li>
              <li>
                  <label for="blue-color"></label>
                  <p><input type="radio" name="color" class="radio-color-PD" id="radio-colorC-PD"></p>
              </li>
              <li>
                  <label for="blue-color"></label>
                  <p><input type="radio" name="color" class="radio-color-PD" id="radio-colorD-PD"></p>
              </li>
              <li>
                  <label for="radio-colorE"></label>
                  <p><input type="radio" name="color" class="radio-color-PD" id="radio-colorE-PD"></p>
              </li>
          </ul>
        </form>
      </div>
    </form>
    <label for="price-edit" class="price-edit">Precio</label>
    <input type="number" name="price-edit">
  </div>  
</main>
    <!-- footer -->
  <%- include("./partials/footer")%>

</body>
</html>
