<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle del producto</title>
    <link rel="stylesheet" href="/css/productDetail.css">
    <link rel="stylesheet" href="https://fonts.google.com/">
    <link rel="stylesheet" href="/css/normalize.css">
</head>

<body>
    <!--Header-->
    <head> 
        <div class= "nav-bar"> 
            <img src= "/imagenes/La-Sabana.png" alt=""width="100px">
        </div>
        <nav class="enlaces" > 
            <ul>
                <li><a href="">¿Quienes somos? </a></li>
                <li><a href="">Nuestros productos</a></li>
                <form>
                  <i class="fa fa-search"></i>
                  <input type="text">
                  <input type="submit" value="Buscar" />
              </form>
              <li><i class="fas fa-user"></i> <a href="">Mi cuenta</a><i class="fas fa-angle-down"></i></li>
              <li><i class="fas fa-cart-plus"></i><a href="">Mi Carrito</a></li>
          </ul>
        </nav>
        
    </head>
    <!--página detalle de producto-->
    <main>
        <div class="main-container">
            <!--nombre del producto-->
            <div class="product-name">
                <p>Sábanas Oro con Faja P/colch 1,60 Lisa Blanco</p>
            </div>
            <!--imagen del producto-->
            <div class="zoompad">
                <img src="/imagenes/productos/juego-de-sabanas-Pierre-Balmain-180-hilos.jpg" alt="product" class="main-image">
            </div>
            <!--deslizamiento de imagen-->
            <div class="image-dash">
                <a href="#" class="control-prev">...</a>
                <a href="#" class="control-right">...</a>
            </div>
            <!--imagenes del wrap-->
            <nav class="wrap-images">
                <ul class="wrap-list">
                    <li><a href="" class="imgA"><img src="/productos/sabanas-imgA.jpg" alt="imgA"></a></li> 
                    <li><a href="" class="imgB"><img src="/productos/sabanas-imgB.jpg" alt="imgB"></a></li>
                    <li><a href="" class="imgC"><img src="/productos/sabanas-imgC.jpg" alt="imgC"></a></li>
                    <li><a href="" class="imgD"><img src="/productos/sabanas-imgD.jpg" alt="imgD"></a></li>
                    <li><a href="" class="imgE"><img src="/productos/sabanas-imgE.jpg" alt="imgE"></a></li>
                </ul>
            </nav>
            <!--caja del poducto-->
                <div class="product-meta">
                        <nav class="crumber-nav">
                            <a href="/home.html" class="crumb">Inicio</a>
                            <span class="divider">/</span>
                            <a href="" class="crumb">Dormitorio</a>
                            <span class="divider">/</span>
                            <a href="" class="crumb">Sábanas</a>
                            <span class="divider">/</span>
                            <a href="" class="crumb-name">Sábanas Oro con Faja P/colch 1,60 Lisa Blanco</a>
                        </nav>
                        <!--redes sociales-->
                        <nav class="social-network">
                            <i class="fab fa-twitter" href="https://twitter.com/?lang=es" target="_blank"></i>
                            <i class="fab fa-facebook" href="https://www.facebook.com/" target="_blank"></i>
                            <i class="fab fa-instagram" href="https://www.instagram.com/?hl=es-la" target="_blank"></i>
                        </nav>
                    <!--caja del precio-->
                    <section class="price-box">
                        <span class="discount">%25</span>
                        <span class="original-price">$4000</span>
                        <span class="price">$3000</span>
                        <p class="finance">12 Cuotas sin interés</p>
                        <p class="options-payment">Ver medios de pago</p>
                    </section>
                    <!--agregar carrito-->
                    <div>
                        <input type="submit" name="buy" value="Agregar al carrito" class="buy">
                    </div>
                    <!--selector de color- radio-script-->
                    <div class="color-selection">
                        <p class="specification-title">Color</p>
                        <ul class="color-list">    
                            <li>
                                <label for="blue-color"></label>
                                <input type="radio" name="color" class="radio-color">
                            </li>
                            <li>
                                <label for="blue-color"></label>
                                <input type="radio" name="color" class="radio-color">
                            </li>
                            <li>
                                <label for="blue-color"></label>
                                <input type="radio" name="color" class="radio-color">
                            </li>
                            <li>
                                <label for="blue-color"></label>
                                <input type="radio" name="color" class="radio-color">
                            </li>
                            <li>
                                <label for="radio-colorE"></label>
                                <input type="radio" name="color" class="radio-color">
                            </li>
                        </ul>
                        <!--informacion del producto- menu script-->
                    </div class="container-wrap">
                        <section class="info-boxes">
                            <article class="info-item">
                                <a href="#">Descripción</a>
                            </article>
                            <article class="info-item">
                                <a href="#">Composición</a>
                            </article>
                            <article class="info-item">
                                <a href="#">Características de la tela</a>
                            </article>
                        </section>
                        <hr class="bar">
                        <section class="info-boxes-container">
                            <article class="info-boxes" id="description">
                                <p>Juego de sábanas estampado con cordón, compuesto por mezcla de algodón y poliéster. Estilo y diseño para tu cama.</p>
                                <br>
                                <span class="minor-title">Medidas:</span>
                                <span>Medidas: Para colchón King de hasta 2 m de ancho x 2 m de largo x 0.35 m de alto.</span>
                                <br>
                                <span class="minor-title">Incluye:</span>
                                <span>Lorem ipsum dolor sit amet consectetur adipisicing elit.</span>
                            </article>
                            <article class="info-boxes" id="composition">
                                <p>Mezcla de algodón y poliéster, 144 hilos.</p>
                            </article>
                            <article class="info-boxes" id="material-quality">
                                <p>Las telas con mezclas de algodón y poliéster son conocidas por su durabilidad. El algodón es de fibra natural, por lo que le brinda propiedades como respirabilidad y suavidad. El poliéster le otorga mayor resistencia, baja tendencia al arrugado y secado rápido. Combinación perfecta entre suavidad y practicidad. Ideal para quienes viven en un departamento o tienen poco espacio para tender sus sábanas y tiempo para plancharlas.</p>
                            </article>
                        </section>
                </div>
            </div>    
    </main>
    <footer>

    </footer>
</body>
</html>