<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/css/productCart.css">
    <%- include("./partials/head")%>
</head>

<body>
    <!--Header-->
    <%- include("./partials/header")%>
        <main>
            <!--Carrito-->
            <h4 class="page-banner-pr">Mi Carrito</h4>
            <div class="wrapper-pr">
                <div class="cart-collection-pr">
                    <div class="cart-item-pr">
                        <a href="/products/detail">
                            <form action="">
                                <div class="cart-product-pr">
                                    <div class="img-info-pr">
                                        <img class="cover-img-pr" src="\imagenes\cubrecama.png" alt="cubrecama">
                                    </div>
                                    <div class="cart-product-info-pr">
                                        <p class="cart-product-name-pr">Descripci贸n del producto</p>
                                        <p class="cart-price-pr"> $5000</p>
                                    </div>
                                </div>
                                <div class="cart-product-total-pr">
                                    <h5> Valor unitario:$5000 </h5>
                                </div>
                                <div class="cart-controls-pr">
                                    <div class="remove-pr">
                                        <span class="fas fa-trash" id="trash"></span>
                                        <button class="btn-remove-pr"> Remover </button>
                                    </div>
                                    <div class="cart-quantity-controls-pr">
                                        <button>-</button>
                                        <input type="number" value="1" readonly>
                                        <button>+</button>
                                    </div>
                                </div>
                            </form>
                        </a>
                    </div>
                    <div class="cart-item-pr">
                        <a href="/products/detail">
                            <form action="">
                                <div class="cart-product-pr">
                                    <div class="img-info-pr">
                                        <img class="cover-img-pr" src="\imagenes\cubrecama.png" alt="cubrecama">
                                    </div>
                                    <div class="cart-product-info-pr">
                                        <p class="cart-product-name-pr">Descripci贸n del producto</p>
                                        <p class="cart-price-pr">$5000</p>
                                    </div>
                                </div>
                                <div class="cart-product-total-pr">
                                    <h5> Valor unitario:$5000 </h5>
                                </div>
                                <div class="cart-controls-pr">
                                    <div class="remove-pr">
                                        <span class="fas fa-trash" id="trash"></span>
                                        <button class="btn-remove-pr"> Remover </button>
                                    </div>
                                    <div class="cart-quantity-controls-pr">
                                        <button>-</button>
                                        <input type="number" value="1" readonly>
                                        <button>+</button>
                                    </div>
                                </div>
                            </form>
                        </a>
                    </div>
                    <div class="cart-item-pr">
                        <a href="/products/detail">
                            <form action="">
                                <div class="cart-product-pr">
                                    <div class="img-info-pr">
                                        <img class="cover-img-pr" src="\imagenes\cubrecama.png" alt="cubrecama">
                                    </div>
                                    <div class="cart-product-info-pr">
                                        <p class="cart-product-name-pr">Descripci贸n del producto</p>
                                        <p class="cart-price-pr">$5000</p>
                                    </div>
                                </div>
                                <div class="cart-product-total-pr">
                                    <h5> Valor unitario:$5000 </h5>
                                </div>
                                <div class="cart-controls-pr">
                                    <div class="remove-pr">
                                        <span class="fas fa-trash" id="trash"></span>
                                        <button class="btn-remove-pr"> Remover </button>
                                    </div>
                                    <div class="cart-quantity-controls-pr">
                                        <button>-</button>
                                        <input type="number" value="1" readonly>
                                        <button>+</button>
                                    </div>
                                </div>
                            </form>
                        </a>
                    </div>
                    <div class="cart-item-pr">
                        <a href="/products/detail">
                            <form action="">
                                <div class="cart-product-pr">
                                    <div class="img-info-pr">
                                        <img class="cover-img-pr" src="\imagenes\cubrecama.png" alt="cubrecama">
                                    </div>
                                    <div class="cart-product-info-pr">
                                        <p class="cart-product-name-pr">Descripci贸n del producto</p>
                                        <p class="cart-price-pr">$5000</p>
                                    </div>
                                </div>
                                <div class="cart-product-total-pr">
                                    <h5> Valor unitario:$5000 </h5>
                                </div>
                                <div class="cart-controls-pr">
                                    <div class="remove-pr">
                                        <span class="fas fa-trash" id="trash"></span>
                                        <button class="btn-remove-pr"> Remover </button>
                                    </div>
                                    <div class="cart-quantity-controls-pr">
                                        <button>-</button>
                                        <input type="number" value="1" readonly>
                                        <button>+</button>
                                    </div>
                                </div>
                            </form>
                        </a>
                    </div>
                </div>
                <div class="cart-end-pr">...</div>
                <div class="cart-total-holder-pr">
                    <div class="cart-total-pr">
                        <p>Total a pagar:</p>
                        <p>$20000</p>
                    </div>
                    <div class="cart-action-button-pr">
                        <a href="">Continuar comprando</a>
                        <a href="" class="btn-main-pr">Comenzar pago</a>
                    </div>
                </div>
            </div>
            </div>
        </main>
        <!-- footer -->
        <%- include("./partials/footer")%>

</body>

</html>