<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/productDetail.css">
    <title>Document</title>
</head>
<body>
    
    <h1>Lo sentimos, este producto ya no existe</h1>
    <A href="/products">VOLVER A PRODUCTOS</A>
    <br>
    <img src="/imagenes/productos/404-error.png">
    

</body>
</html>