<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("./partials/head")%>
  <link rel="stylesheet" href="/css/user-profile.css">
</head>
<body>   
    
    <%- include("./partials/header")%>
        

    <main>
        
       <p>  estoy aca</p>
    </main>

      <!-- footer -->
  <%- include("./partials/footer")%>

</body>
</html>
