<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("./partials/head")%>
  <link rel="stylesheet" href="/css/user-profile.css">
</head>
<body>   
    
    <%- include("./partials/header")%>
        

    <main>
        <h3>Términos y Condiciones</h3><br>
        <p>A continuación se detallan las condiciones generales del Sitio <a href="/">www.lasabana.com.ar</a>  que regirán los derechos y obligaciones de entre los usuarios y La Sabana.</p> <br>
      <p>Los siguientes Términos y Condiciones (en adelante los “Términos y Condiciones”) se aplican a la utilización de los servicios, ofrecidos o puestos a disposición de los usuarios de Internet por La Sabana (en adelante la “Empresa”), a través del sitio de Internet <a href="/">www.lasabana.com.ar</a> (en adelante La Sabana)</p><br>
      <p>Al ingresar en el Sitio y utilizar los servicios se le atribuye la condición de “Usuario” el mismo debe conocer y aceptar todas las cláusulas de los Términos y Condiciones en la versión vigente en el momento mismo en que el Usuario utilice los servicios de La Sabana. En consecuencia, los Términos y Condiciones constituirán un acuerdo válido y obligatorio entre el Usuario y la Empresa con relación a la utilización de los Servicios. El Usuario debe leer atentamente y aceptar los Términos y Condiciones previo a la utilización de los Servicios. En caso de no aceptar los siguientes Términos y Condiciones o cualquier modificación de las mismas no deberá continuar la compra en el Sitio.</p><br>
      <p>La Sabana podrá modificar los Términos y Condiciones en cualquier momento comunicando dichas modificaciones en las nuevas versiones de los Términos y Condiciones que serán notificadas mediante un enlace a <a href="/">www.lasabana.com.ar</a></p>
   <BR><h3>Obligaciones del usuario.  </h3><br>
   <p>El Usuario deberá ser mayor de 18 años y no encontrarse bajo ningún impedimento legal o de hecho para contratar, ya que la adquisición de bienes y/o servicios estará únicamente disponible para personas con capacidad legal para contratar.<br>

    El incumplimiento de esta cláusula tornará nulo todo acto realizado por el Usuario sin derecho de éste a reclamo alguno y habilitará a la Empresa a iniciar las acciones legales correspondientes contra éste o contra quien resulte responsable (padres, tutores, según corresponda).<br>
    
    Al contratar un servicio el usuario deberá completar sus datos de manera que los mismos continúen siendo verdaderos, ciertos, correctos, actualizados, y completos. En caso que el Usuario provea información que sea falsa, incorrecta, desactualizada o incompleta, o la Empresa tenga una base razonable de sospecha de que dicha información sea falsa, incorrecta, desactualizada o incompleta, la Empresa tendrá el derecho de suspender o terminar la posibilidad del Usuario de utilizar los Servicios, así como a rechazar cualquier nuevo o futuro uso de los Servicios por dicho Usuario.<br>
    
    Una vez realizado el pedido, y siempre que los datos sean correctos, se le informará al Usuario vía correo electrónico (el proporcionado por el usuario), que se ha aceptado su pedido. Por favor no olvide revisar su casilla de correo no deseado o Spam.<br> 
    Una vez que el usuario acepte los términos y condiciones podrá adquirir los productos a través del shop de La Sabana, los pagos se aceptaran únicamente por transferencia bancaria (a la cuenta proporcionada por La Sabana vía mail) ; a través del sitio mercadopago pudiendo usar las promociones que el mismo tenga vigente o mediante una “cita de pago” (acordada por mail lasabana@lasabana.com.ar o por whatsapp al número 11-3451-2475) en nuestro showroom de Av. Tuyuti 234, Tapiales CP1770 G.B.A, Buenos Aires, Argentina.<br>

    La Empresa se reserva el derecho a modificar la presentación y configuración de los productos y servicios, así como las condiciones requeridas para utilizar los servicios, las cuales serán notificadas a los Usuarios en la forma anteriormente detallada.<br>
  </p>
  <br><h3>Políticas de privacidad.  </h3> <br> 
<p>
  La presente Política de Privacidad se aplica a la utilización de los servicios ofrecidos o puestos a disposición de los Usuarios de internet por La Sabana, a través del sitio de internet <a href="/">www.lasabana.com.ar</a> La utilización de los Servicios atribuye a la condición de “Usuario del Sitio” y expresa la aceptación plena y sin reservas, por el Usuario, de todas y cada una de las cláusulas de la Política de Privacidad en la versión publicada por la Empresa en el momento mismo en que el Usuario utilice los Servicios. En consecuencia, la Política de Privacidad constituirá un acuerdo válido y obligatorio entre el Usuario y la Empresa con relación a la privacidad. La Sabana podrá modificar la Política de Privacidad en cualquier momento. Las nuevas versiones de la Política de Privacidad serán notificadas mediante la publicación de dicha nueva versión en <a href="/">www.lasabana.com.ar</a>  Para La Sabana la privacidad de los datos personales es muy importante si tiene dudas con respecto a la Política de Privacidad, por favor escribanos a  lasabana@lasabana.com.ar
</p>
    </main>

      <!-- footer -->
  <%- include("./partials/footer")%>

</body>
</html>
