<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("./partials/head")%>
  <link rel="stylesheet" href="/css/user-profile.css">
  <link rel="icon" type="image/png" sizes="32x32" href="./images/favicon-32x32.png"/>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
</head>
<body>   
    
    <%- include("./partials/header")%>
        

    <main>
      <% if (locals.isAnUserLogged == true){%> 
        <div class="container">
          <div class="center">
            <div class="content">
             <b>Bienvenido <%= userData.userName %> </b>
            <img src="/imagenes/bg-pattern-card.jpg" alt="bg-card">
            
            <img class="potrait" src="/imagenes/img-user-profile.png" alt="" >
            <div>
            <a href="/users/edit"><i class="fa-regular fa-user-pen"></i> Editar perfil</a>
          </div>
            <h3 class="name"> <%= userData.userName %> <span class="age"><%=userData.birthdate %>
             </span></h3>
            <h5 class="location" >Email:  <a href="#"><%= userData.email %></a></h5>
            <p class="location"><%=  userData.country %></p>
          </div>
          <div class="num">
            <ul>
              <li>80K</li>
              <li>803K</li>
              <li>20%</li>
            </ul>
          </div>
          <div class="stats">
            <ul>
              <li>Compras</li>
              <li class="likes">Likes</li>
              <li class="photo">Descuento</li>
            </ul>
          </div>
        </div>
        </div>
      <%} else { %> 
         <button><a href="/"> REGISTRARSE </a> </button> 
      <%}%>
     
    </main>

      <!-- footer -->
  <%- include("./partials/footer")%>

</body>
</html>
