@import url(normalize.css);
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Roboto:wght@400;700&display=swap');
* {
    box-sizing: border-box;
}
.main{
    background-image:url('/imagenes/sin-titulo.jpg');
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    }

.body{

    font-family: 'Roboto', sans-serif;
    
}
.nav-bar{
    border: solid 3px red;
    display: flex;
       
}
.registro {
    color: rgb(237, 248, 138);
    margin: 0 15px 15px;
    padding: 15px;
    box-shadow: 0 0 5px rgb(87, 85, 85);  
   
}
.login{
    color: rgb(237, 248, 138);    
    margin: 0 15px 15px;
    padding: 15px;
    box-shadow: 0 0 5px rgb(87, 85, 85);  
}
.logo {
		width: 20%;
		align-self:flex-start;

}
.enlaces{
    display: flex;
    justify-content: space-between;
}
.header-counteiner{             
background-color: #fdf49f;  
width: 100%;
margin: auto;
display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;     
}



/* ---------- Version Tablet ----------------------------------------------------------------------------------------------- */

@media (min-width: 481px) {
    * {
        box-sizing: border-box;
    }
    body{
        font-family: 'Roboto', sans-serif;
        background-color: #fdf49f;
    }
    .nav-bar{
        display: flex;
    }
    .enlaces{
        display: flex;
        justify-content: space-between;
    }
    .header-counteiner{ 
        border: solid 3px black;        
    background-color:  #fdf49f;  
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;     
}
}

/* ---------- Version Laptop ----------------------------------------------------------------------------------------------- */

@media (min-width: 769px) {
}

/* ---------- Version Monitor ----------------------------------------------------------------------------------------------- */
@media (min-width: 1280px) {

}