@import url(normalize.css);
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");

* {
    box-sizing: content-box;
}

/*header*/
body {
    width: 100%;
    margin: auto;
  }
  .nav-bar {
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
  }
  .enlaces {
    display: flex;
    justify-content: space-between;
  }

  ol,
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .banner {
    width: 100%;
  }
  .lista-producto {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

/*product detail*/
.main-container {
    background-color: #eee;
    font-family: "Montserrat", sans-serif;
    margin:auto;
    color: #444;
}

.product-name {
    font-size: 25px;
    padding: 10px 15px;
    font-weight: 500;
}

.zoompad {
    text-align: center;
}

.main-image{
    width: 95%;
    margin: auto;
}

a {
    text-decoration: none;
}

.slider-container {
    display: block;
    width: 100%;
    padding: 15px;
    text-align: center;
}

.slider-list {
    position: relative;
    width: 95%;
    height: 300px;
}

.slider-list li {
    position: absolute;
    width: inherit;
    height: inherit;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all, 0.5s;
}

.slider-list li img {
    width: inherit;
    height: 300px;
}

.slider-list li:first-child {
    opacity: 1;
}

.slider-list li:target {
    opacity: 1;
}

.menu-slider {
    display: flex;
    flex-wrap: wrap;
    padding: 25px;
    text-align: center;
    justify-content: space-around;
}

.menu-slider li a i{
    border-radius: 50%;
    color: #e8ba7b ;
    background-color: #d49c50;
    display: inline-block;
    padding: 5px;
    outline: none;
    margin: 10px;
}

.crumber-nav {
    padding: 10px 15px;
}

.crumber-nav a,
.crumber-nav span{
    color: #584229;
}

.social-network i{
    padding: 10px 15px;
    color: #d49c50;
    font-size: 1.5rem;;
}

.discount {
    display: none;
}

.price-box {
    width: 100%;
    margin-top: 20px;
}

.original-price {
    text-decoration: line-through;
    color: #584229;
    padding: 10px;
}

.price-box span{
    font-size: 2rem;
}

.finance,
.options-payment {
    font-size: 1rem;
    color: #d49c50;
    padding: 10px 10px 0px 10px;
    margin: 0px;
}

#cart {
    font-size: 20px;
    color: #444;
    position: relative;
    left: 50px;
}

.buy-button {
    width: 8rem;
    height: 2rem;
    border: none;
    border-radius: 0.6rem;
    font-size: 1rem;
    font-weight: 300;
    display: inline-block;
    transition: all, 0.5s;
    background-color: #d49c50;
    color: #eee;
    box-shadow: 0px, 2px, 3px, #d49c50;
    padding-left: 25px;
    font-family: monospace, sans-serif;
}

.buy-button:hover {
    box-shadow: 100px, 100px, 100px, #e8ba7b;
    background-color: #584229;
    border: coral;
}

.buy-button:focus {
    outline: none;
}

.buy-container {
    margin-top: 15px;
    text-align: center;
}

.color-selection {
    margin: 15px;
}

.color-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0px 10px 10px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.color-title {
    padding: 10px;
    font-size: 1.3rem;
    font-weight: bolder;
}

input[type=radio] {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Chrome, Safari, Opera */
    transform: scale(2.5);
    background-clip: content-box;
    border-radius: 50%;
    appearance:none;
    width:12px;
    height:12px;
    display: block;
}

#radio-colorA {
    background-color: coral;
    border:0.5px solid coral;
    box-shadow:0 0 0 2.5px coral;
    transition:all 0.5s;
}

#radio-colorA:hover {
    background-color: #444;;
    border:0.5px solid coral;
    box-shadow:0 0 0 2.5px #444;
}

#radio-colorB {
    background-color: blueviolet;
    border:0.5px solid blueviolet;
    box-shadow:0 0 0 2.5px blueviolet;
    transition:all 0.5s;
}

#radio-colorB:hover {
    background-color: #444;;
    border:0.5px solid blueviolet;
    box-shadow:0 0 0 2.5px #444;
}

#radio-colorC {
    background-color: lightslategrey;
    border:0.5px solid lightslategrey;
    box-shadow:0 0 0 2.5px lightslategrey;
    transition:all 0.5s;
}

#radio-colorC:hover {
    background-color: #444;;
    border:0.5px solid lightslategray;
    box-shadow:0 0 0 2.5px #444;
}

#radio-colorD {
    background-color: lightgreen;
    border:0.5px solid lightgreen;
    box-shadow:0 0 0 2.5px lightgreen;
    transition:all 0.5s;
}

#radio-colorD:hover {
    background-color: #444;;
    border:0.5px solid lightgreen;
    box-shadow:0 0 0 2.5px #444;
}

#radio-colorE {
    background-color: #fbfb80;
    border:0.5px solid #fbfb80;
    box-shadow:0 0 0 2.5px #fbfb80;
    transition:all 0.5s;
}

#radio-colorE:hover {
    background-color: #444;;
    border:0.5px solid #fbfb80;
    box-shadow:0 0 0 2.5px #444;
}
/*
input[type=radio]:hover {

}

. {
    color: #39b54a;
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    align-self: flex-start;
    transition: transform, 0.5s;
}
*/

.bar {
    width: 70%;
    color: #e8ba7b;
}

.info-boxes {
    background-color: #fdf0d8;
}

.info-article {
    font-size: 25px;
    padding: 10px 15px;
}

.info-article a {
    color: #444;
}

