* {
  margin: o;
  padding: o;
  box-sizing: border-box;
}

body{
  font-family: sans-serif;
  justify-content: center;
  text-align: center;
  background-color: antiquewhite;

}
.button missing-product{
  border: none;
  background-color: blue;
  padding-top: 50px;
}

img{
  max-width:100%;
  
}

h2{
  text-align: center;
  font-weight: bold;

  
}

.col-2{
  width: 50vw;
  border: 5px green solid;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items:flex-start

 
}

.product-info{
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  width: 50vw;
}

.small-img-row{
  margin-left: 2vw;
  border: 5px blue solid;
  width: 95vw;
  display: flex;
  flex-wrap: wrap;
}

.small-img-col{

border: 1px red solid;
width:22%;
margin:1%;


}



