* {
    box-sizing: border-box;
}

.caract-tela-create {
    display: flex;
    justify-content: center;
}

.create-product {
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 0px;
    font-weight: 700;
    color: #d49c50;
    font-size: 24px;
}

.create-product a {
    color: inherit;
}

.main-edit {
    background-color: #eee;
    margin: 0px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.form-edit,
.form-create {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    min-height: 500px;
    padding: 0px;
    margin: 0px;
}

.form-create {
    margin: 0px 0px 40px 0px;
}

.form-edit {
    padding-top: 140px;
    background-color: #BBBBBB;
    padding-bottom: 50px;
    border-top: 1px #444 solid;
}

.title-edit {
    color: #d49c50;
    font-size: 2.2rem;
    margin: 10px 20px 30px 40px;
    font-weight: 700;
    outline: none;
}

.search-edit {
    position: relative;
    padding: 5px;
    display: block;
}

.search-edit input {
    position: relative;
    width: 80%;
    padding: 8px 20px;
    font-family: "Roboto", sans-serif;
    border-radius: 8px;
    margin: 5px auto;
    display: block;
    font-size: 1.3rem;
    line-height: 32px;
    border: 1px solid #444;
}

.button-search-edit {
    line-height: 55px;
    width: 55px;
    height: 55px;
    position: absolute;
    bottom: 8px;
    right: 52px;
    text-align: center;
    font-size: 30px;
    border-radius: 50%;
    background-color: #333;
    color: #eee;
}

.button-search-edit:hover {
    background: rgb(120, 120, 121);
}

.input-edit {
    font-family: "Roboto", sans-serif;
    border-radius: 9px;
    margin: 5px auto;
    width: 80%;
    display: block;
    font-size: 1.3rem;
    line-height: 32px;
    border: 1px solid #444;
    padding: 7px 0px;
}

label {
    font-size: 1.5rem;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    text-align: center;
    display: block;
    color: #333;
}

.label-edit {
    font-size: 1.5rem;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    text-align: center;
    display: block;
    color: #eee;
}

textarea {
    display: block;
    box-sizing: padding-box;
    overflow: hidden;
    padding: 10px;
    width: 250px;
    margin: 0px auto;
    border-radius: 8px;
}

.color-selection-PD {
    margin: 0px 0px 50px 0px;
    width: 90%;
}

.color-title {
    font-size: 1.5rem;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    text-align: center;
    display: block;
    color: #444;
}

.product-list-edit {
    color: #444;
    width: 80%;
    padding: 8px;
    font-size: 1.3rem;
    border-radius: 5px;
    transition: all, 0.5s;
    margin: 8px auto;
    text-align: center;
    display: block;
}

.product-list-edit:hover {
    background-color: #d49c50;
    color: #eee;
}

.product-seizures-edit {
    color: #444;
    display: block;
    width: 80%;
    padding: 8px;
    font-size: 1.3rem;
    border-radius: 5px;
    transition: all, 0.5s;
    margin: 8px auto;
    text-align: center;
}

.product-seizures-edit:hover {
    background-color: #d49c50;
    color: #eee;
}


/*color checkbox section*/

.color-selection {
    font-size: 1.5rem;
    font-weight: bolder;
    text-align: center;
}

.color-label {
    font-weight: normal;
    text-align: center;
    width: 100%;
    padding: 7px 0px;
    font-size: 1.1rem;
    border-radius: 12px;
    border: 1px solid #d49c50;
}

#label-color-A {
    background-color: #f5f5dc;
    transition: all 0.5;
}

#label-color-A:hover {
    background-color: #333;
    color: #eee;
}

#label-color-B {
    background-color: grey;
    transition: all 0.5;
}

#label-color-B:hover {
    background-color: #333;
    color: #eee;
}

#label-color-C {
    background-color: tomato;
    transition: all 0.5;
}

#label-color-C:hover {
    background-color: #333;
    color: #eee;
}

#label-color-D {
    background-color: gold;
    transition: all 0.5;
}

#label-color-D:hover {
    background-color: #333;
    color: #eee;
}

#label-color-E {
    background-color: lightgreen;
    transition: all 0.5;
}

#label-color-E:hover {
    background-color: #333;
    color: #eee;
}

#label-color-F {
    background-color: brown;
    transition: all 0.5;
}

#label-color-F:hover {
    background-color: #333;
    color: #eee;
}

#label-color-G {
    background-color: lightseagreen;
    transition: all 0.5;
}

#label-color-G:hover {
    background-color: #333;
    color: #eee;
}

#label-color-H {
    background-color: orange;
    transition: all 0.5;
}

#label-color-H:hover {
    background-color: #333;
    color: #eee;
}

#label-color-I {
    background-color: whitesmoke;
    transition: all 0.5;
}

#label-color-I:hover {
    background-color: #333;
    color: #eee;
}

#label-color-J {
    background-color: cornflowerblue;
    transition: all 0.5;
}

#label-color-J:hover {
    background-color: #333;
    color: #eee;
}

#label-color-K {
    background-color: silver;
    transition: all 0.5;
}

#label-color-K:hover {
    background-color: #333;
    color: #eee;
}

#label-color-L {
    background-color: cornsilk;
    transition: all 0.5;
}

#label-color-L:hover {
    background-color: #333;
    color: #eee;
}

#label-color-M {
    background-color: wheat;
    transition: all 0.5;
}

#label-color-M:hover {
    background-color: #333;
    color: #eee;
}

#label-color-N {
    background-color: salmon;
    transition: all 0.5;
}

#label-color-N:hover {
    background-color: #333;
    color: #eee;
}

#label-color-O {
    background-color: lightyellow;
    transition: all 0.5;
}

.button-edit {
    min-width: 60px;
    display: block;
    width: 200px;
    min-height: 40px;
    border-radius: 0.6rem;
    font-size: 20px;
    font-weight: bold;
    line-height: 0px;
    transition: all, 0.5s;
    background-color: #d49c50;
    color: #444;
    border: 2px solid #444;
    margin: 0px auto 0px auto;
}

.button-edit:hover {
    box-shadow: 100px, 100px, 100px, #584229;
    background-color: #584229;
    color: #eee;
    padding: 2px;
}

.price-edit {
    margin-top: 40px;
}

.color-list-PD li {
    width: 32%;
    list-style: none;
}

#label-color-O:hover {
    background-color: #333;
    color: #eee;
}

.button-edit {
    margin: 0px auto;
}

@media (min-width: 481px) {
    .color-list-PD li {
        width: 19%;
    }
    .main-edit {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}

@media (min-width: 768px) {
    .main-edit {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .form-edit,
    .form-create {
        width: 49%;
    }
    .form-edit {
        border-left: 1px solid #444;
        border-top: 0px;
    }
    .form-create {
        margin: 0px 0px 40px 0px;
    }
}