*{
    box-sizing: border-box;
}
main {
    background-color: #eee;
}
.form-edit{
    width: 100%;
    display: flex;
    flex-wrap: no-wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 500px;
}
input {
    font-family: "Roboto", sans-serif;
    border-radius: 5px;
    margin: 5px auto;
    width: 80%;
    font-size: 1.3rem;
	line-height: 32px;
	text-align: center;
	border: 1px solid #BBBBBB;
}
label {
    font-size: 1.3rem;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
}
.color-selection-PD {
    margin: 0px 0px 50px 0px;
    width: 90%;
}
.product-list-edit {
  color: #584229;
  width: 80%;
  padding: 8px;
  border-radius: 5px;
  transition: all, 0.5s;
  margin: 8px 0px;
  text-align: center;
}
.product-list-edit:hover {
    background-color: #d49c50;
    color: #eee;
  }
  .color-title-PD {
    font-size: 1.3rem;
    font-weight: bolder;
    text-align: center;
  }
.price-edit {
    margin-top: 40px;
}