@import url(normalize.css);
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");
* {
    box-sizing: border-box;
  }
  body {
    width: 100%;
    background-color: #F2F2F2;
  }
  
  
  .mainr{
    color: black;
    background-color: #f2f2f2;
    width: 100%;
    margin: auto;
    align-items: center;
    
    }
  
  .bodyr{
      font-family: 'Roboto', cursive;
    
  }
  .list-regisr{
    
    color: #d49c50;
    margin: 0 15px ;
    padding: 15px;   
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;  
    text-align: center;
    
  
  }
  .list-regisr li{      
  width: 100%;   
  display: flex;
  justify-content: center;
  align-items: center;
    text-decoration: none;
    color: black;
    display: inline-block;
 
    font-size: 17px;
    text-align: center ;
  }
  .list-regisr div{
    padding-bottom: 2%;
    font-weight: bold;
   
  }
  
  .crearr{
    color: #d49c50;
    width: 100%;
    padding: 40px 20px;
    height: 40px;
    font-weight: bold;
    font-size: 23px;
    margin-bottom: 40px;
    text-align: center;
    border-bottom: 1px solid #d49c50 ;
  }
  /*campos de regis*/
  .controlsr{    
   align-items: center;
  justify-content: center;
    width: 100%;    
    padding: 11px 10px;
    background: rgb(248, 248, 248);
    font-size: 14px;
    font-weight: bold;
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
    transition: transform 250ms; 
    border-radius: 6px;
  }   
      
      .controlsr:hover {
        transform: translateY(-10px);
      }
  /*---micro banner----*/
 
  /*botones*/
  .buttonsr {  
    font-size: 22px;
    font-weight: bold;  
  color:white;
    background: rgb(37 211 102); 
    text-align: center;   
     display: flex;
    justify-content: center;
    width: 100%;
    border-radius: 6px;
   box-shadow: 0px 10px 10px -6px black;
  }  
      
  .buttonsr:hover {filter: opacity(.5);}
      
  .button {
    color: #d49c50;
    font-weight: bold;
    text-align: center;
    font-size: 30px;
    text-decoration: none;
  }
  .button:hover {filter: opacity(.5);}
  
  .box-bot {
       
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
   
  }
  .regis{
    color: #d49c50;
    width: 100%;
    text-align: center;
    font-size: 15px;
    font-weight: 1200;
  }
  /*--checkbox---*/
 
  
 
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
  }
  
  input[type = checkbox] {
    display: none;
  }
  
  input + label {
    font-size: 12px;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: .1rem solid var(--blue);
    border-radius: 50%;
    background: var(--darkblue);
    transition: .1s all;
    cursor: pointer;
    z-index: 999 !important;
  }
  
  input + label:hover {
    transform: scale(.95);
  }
  
  input + label:after {
    content: "🤜";
  }
  
  input:checked + label {
    background: var(--blue);
    transform: scale(1.1);
  }
  
  input:checked + label:hover {
    background: var(--blue);
    transform: scale(1.05);
  }
  
  input:checked + label:after {
    content: "👍";
  }
  .cuenta{
    text-align: center ;
    color: #d49c50;
   
    
  }
  .cuenta:hover {
    transform: scale(1.05);
    text-decoration: underline;
  }
  .logo1{
    display: none;
  }
/*-----------------------------version tablet--------------------------------------*/ 
@media (min-width: 481px) {
  .list-regisr li{
     justify-content: center;
     align-items: center;
    text-decoration: none;
     padding: 5px 0;    
  }
  
  }
   
  .crearr{
    color: #d49c50;
    width: 100%;
    padding: 40px 20px;
    height: 40px;
    font-weight: bold;
    font-size: 23px;
    margin-bottom: 40px;
    text-align: center;
    border-bottom: 1px solid #d49c50 ;
  }
  /*campos de regis*/
 

/* ---------- Version LAPTOP----------------------------------------------------------------------------------------------- */
@media (min-width: 769px) {
  .regis-logfbgoogle{
    display: flex;
   
    
  }
  .regis-logfbgoogle h5{
   display: none;
    
}

.box-bot {
  align-self: flex-start;
  display: flex;
 flex-wrap: inherit;
  align-items: center;
  height: 200px;
}
.regis{
  text-align: left;
}
.list-regisr{   
 
   width: 100%;  

}
.logo-redes{
 width: 50%;
}
.logo1{
  display: table;
  min-height: 300px;
   width: 360px;   
   object-fit: cover;
}
}
/* ---------- Version Monitor ----------------------------------------------------------------------------------------------- */
@media (min-width: 1280px) {
  .list-regisr{        
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: flex-end;   
    
      
  }
}
